

<div class="container-fluid mt-5 pt-5 text-muted" style="margin-left: 3px;">
  <h3 *ngIf="tabsArray && tabsArray.length>0" style="width: 100%;" class="center-horizontal" >Recently visited</h3>
  <div class="row whiteText center-vertical"  [ngClass]="{active:addActiveClass(blogPost)}"  *ngFor="let blogPost of tabsArray"
       style="display: flex; align-items: center ;justify-content: center; height: 40px;">
    <div style=" background-color: transparent; width: 10%;height: 100%;" ><i class="fa fa-times center-vertical center-horizontal text-muted"
                                                                         (click)="removeBlogPostFromTabsArray(blogPost)"
                                                                         style="height: 100%;"></i></div>
    <div class="center-vertical text-muted tab-titles" style="width: 90%;padding-left: 5%; height: 100%;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "
         (click)="openBlogDisplayPage(blogPost)"><a>{{blogPost.blogTitle|trimString:23}}</a></div>
  </div>

</div>
