
.red  {
  background-color: white;
}
.red  a:hover {
  background-color: #4a4a4c;
  color: white;
}
.border{
  border: thin solid red ;
  /*height: 250px;*/
}

.whiteText{
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.whiteText:hover{
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

.center-vertical{
  display: flex;
  align-items: center;

}
.center-horizontal{
  display: flex;
  justify-content: center;


}

.active{
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.fa-times:hover{
  font-size: 20px;
}
