<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=evtl1wjgl3ujv09c6ewv4raaybpsynay1f1mgnrxtfgzihrg"></script>

<div class="container " style="border-bottom: solid 1px white; width: 98%;" >
  <div class="hidden-xs" style="color:white;font-size: 60px"><i class="fa fa-edit" style="margin-right: 1%"></i>Write</div>
  <div class="hidden-lg" style="color:white;font-size: 30px"><i class="fa fa-edit" style="margin-right: 1%"></i>Write</div>
</div>


<br><br>

<div class="container" style="width: 95%">
  <div class="row">
    <div class="col-xs-12 ">
      <button class="btn btn-danger pull-right">Add images</button>
      <a *ngIf="_id" class="btn btn-primary pull-right" role="button" (click)="showPreviewClicked()" >Preview</a>
      <button class="btn btn-default pull-right" (click)="updateBlogOnServer(true)">
        {{messageFromServer?messageFromServer:'Update'}}
      </button>
      <!--<p *ngIf = "showMessageFromServer">{{messageFromServer}}</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!--Blog title starts-->
      <div class="form-group">
        <label for="Title" style="color: white">Title</label>
        <input type="text" class="form-control" [(ngModel)]="blogTitle">
      </div>
      <!--Blog title ends-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!--Blog title starts-->
      <div class="form-group">
        <label for="Title" style="color: white">Front Image</label>
        <input type="text" class="form-control" [(ngModel)]="blogImageURL">
      </div>
      <!--Blog title ends-->
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li [ngClass]="{'active':!showHTMLBoolean}" (click)="showEditor()"><a>Visual</a></li>
    <li [ngClass]="{'active':showHTMLBoolean}" (click)="showHTML()"><a>HTML</a></li>

  </ul>
  <br>

  <div [hidden]="showHTMLBoolean">
    <label style="color: white">Body</label>
    <textarea id="{{elementId}}"></textarea>
  </div>
  <div class="row">
    <!--Text editor begins-->

    <!--HTML begins-->
    <div [hidden]="!showHTMLBoolean">
      <div class="form-group">
        <label for="Title" style="color: white">Title</label>
        <!--<textarea style="height: 500px" [value]=" blogContent" ngModel="blogContent" class="form-control"></textarea>-->
        <textarea style="height: 500px" [(ngModel)]="blogContent" class="form-control"></textarea>
      </div>

    </div>
    <!--HTML ends-->
    <div class="col-xs-12">
      <br>
      <!--tags begin-->
      <label style="color: white">Tags</label>
      <!--why two inputs instead of one? ITS A PATCH-->
      <div *ngIf="blogInstance"><input id="tags" [value]="blogInstance?blogInstance.blogTags:'All'"
                                       data-role="tagsinput" tagsinput></div>
      <div *ngIf="!blogInstance"><input id="tags" [value]="blogInstance?blogInstance.blogTags:'All'"
                                        data-role="tagsinput" tagsinput></div>
      <!--tags end-->
    </div>


  </div>
</div>

<!--this is for extra spacing below the editor-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

