<div class="text-light">

  <div style="min-height: 600px;
background: url('https://static.pexels.com/photos/159368/laptop-iphone-coffee-notebook-159368.jpeg') no-repeat;background-size: cover;
background-attachment: fixed;" class="text-light ">

    <div class="border1" style="background-color: rgba(0,0,0,0.58);min-height: 600px">

      <!--Search section-->
      <!--<div class="mt-5 pt-5 ">-->

        <!--<div class="container text-center" style="width: 40%">-->
          <!--&lt;!&ndash;<h1 class="display-4">Search</h1>&ndash;&gt;-->
          <!--&lt;!&ndash;<p class="lead">Search notes, your own or others</p>&ndash;&gt;-->
          <!--<div *ngIf="parent!=='dashaboard'" class="container hidden-xs"-->
               <!--style="border-bottom: solid 3px white;width: 98%">-->
            <!--&lt;!&ndash;<div style="color:white;font-size: 60px; "><i class="fa fa-search-plus" style="margin-right: 1%"></i>Search Results</div>&ndash;&gt;-->
            <!--<div (click)="triggerAllResultsObservable(searchQuery)"><input id="searchT" [(ngModel)]="searchQuery"-->
                   <!--placeholder="Search..." autofocus type="search"-->
                   <!--style="width: 100%; background: transparent; border: hidden;color: white;"></div>-->
          <!--</div>-->

        <!--</div>-->
        <!--<form action=""></form>-->

      <!--</div>-->

      <div style="width: 100%">
        <div class="container " style="padding-top: 100px">
          <div class="row ">
            <div class="col-sm-12 col-lg-8 d-none d-lg-block ">
              <h1 class="display-4">All your ideas <strong>in one place, </strong> on all device. Online or <strong>offline</strong>.
              </h1>
              <div class="d-flex flex-row ">
                <div class="p-4 align-self-start ">
                  <i class="fa fa-check"></i>
                </div>
                <div class="align-self-end">
                  <strong>Offline support.</strong> Get your stuff done even when you are offline. Create a new blog,
                  update an existing one, without having to worry about
                  connectivity. Your ideas will be with in your reach, whether internet is or not.
                </div>
              </div>
              <div class="d-flex flex-row ">
                <div class="p-4 align-self-start ">
                  <i class="fa fa-check"></i>
                </div>
                <div class="align-self-end">

                  <strong>Edit rollback</strong>. We will keep track of all your changes. So you can freely create edit
                  and delete your content.
                  You can rollback your previous chnages of any date and time, whenever you wish to.
                </div>
              </div>
              <div class="d-flex flex-row ">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>

                </div>
                <div class="align-self-end">
                  <strong>Privacy control</strong> You control your content. You can choose to share it with world or
                  keep it private with single click. If you choose to keep a content private,
                  it will not be visible to others through search.
                </div>
              </div>


            </div>
            <div class="col-lg-4 ">
              <div class="card bg-transparent border-light card-form text-center">
                <div class="card-body">
                  <h3>Sign up</h3>
                  <p>Register to get started. Its free!</p>
                  <form>
                    <div class="form-group"><input type="text" placeholder="Name" class="form-control-lg form-control">
                    </div>
                    <div class="form-group"><input type="email" placeholder="Email"
                                                   class="form-control-lg form-control"></div>
                    <div class="form-group"><input type="password" placeholder="password"
                                                   class="form-control-lg form-control"></div>
                    <div class="form-group"><input type="password" placeholder="confirm password"
                                                   class="form-control-lg form-control"></div>
                    <a href="#" class="btn btn-outline-light btn-block ">Submit</a>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Explore section-->
  <section class="py-5" style="background-color: #333434">

    <div class="container text-center">
      <h1 class="display-4">Explore</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores aspernatur consequuntur
        excepturi
        illo impedit ipsa iste itaque iusto laborum mollitia nemo nulla perspiciatis quod reiciendis, similique
        suscipit ullam voluptatibus?</p>
      <button class="btn btn-outline-secondary"> Find out more</button>
    </div>
  </section>

  <section class="py-4 text-muted">

    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-xs-12 ">
          <img class="img img-fluid img-thumbnail "
               src="https://static.pexels.com/photos/584873/pexels-photo-584873.jpeg" alt=""
               style="border-radius: 3%!important;">
        </div>
        <div class="col-md-6 col-xs-12">
          <h1>All plateforms. All devices.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut deserunt dignissimos dolorem ea
            eaque
            eius exercitationem expedita, labore magni nemo perspiciatis quaerat quidem quisquam </p>
          <div class="d-flex ">
            <div class="align-self-start p-3"><i class=" fa fa-check p-6"
                                                 style="background-color: #333434; color: white"></i></div>
            <p class="align-self-end py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut deserunt
              dignissimos dolorem ea eaque magni nemo dignissimos dolorem ea eaque magni nemo</p>
          </div>
          <div class="d-flex ">
            <div class="align-self-start p-3"><i class=" fa fa-check p-6"
                                                 style="background-color: #333434; color: white"></i></div>
            <p class="align-self-end py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut deserunt
              dignissimos dolorem ea eaque magni nemo dignissimos dolorem ea eaque magni nemo</p>
          </div>
        </div>
      </div>

    </div>

  </section>


